html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	height: 101%;
	line-height: 1;
	background-color:#f8f8f8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 auto;
	width: 100%; 
}

.main {
	width:820px;
	overflow: hidden !important;
	margin: 0 auto 40px auto;
	background-color:#fff;
	border-left-style:solid;
	border-left-width:1px;
	border-left-color:#eee;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#eee;
	box-shadow: 0px 8px 12px rgba(0,0,0,0.02);
}
.main a:hover {
	text-decoration:none;
}
.logo {
	height:57px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#eee;
}
.logo img {
	vertical-align:middle;
	margin-top:11px;
}
.powered {
	height:50px;
	font-size:13px;
	color:#888;
	line-height:50px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.powered a {
	color:#15B4C6;
	font-weight:bold;
}
.cont {
	padding: 20px 20px 0px 20px;
}
.bread {
	font-size: 15px;
	font-weight: 100;
	padding-bottom: 20px;
	line-height: 25px;
	word-break: break-all;
}
.bread strong {
	font-weight: 600;
}

.sub-one {
	background-color:#f8f8f8;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#eee;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#eee;
	height:28px;
	font-size:11px;
	color:#929292;
	font-weight:bold;
	line-height:26px;
	padding-left:10px;
	width: 63%;
}

.sub {
	background-color:#f8f8f8;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#eee;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#eee;
	height:28px;
	font-size:11px;
	color:#929292;
	font-weight:bold;
	line-height:26px;
	width: 16%;
}
.sub-tree {
	background-color:#f8f8f8;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#eee;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#eee;
	height:28px;
	font-size:11px;
	color:#929292;
	font-weight:bold;
	line-height:26px;
	padding-right:10px;
	text-align:right;
	width: 11%;
}

.parent {
	height:28px;
	line-height:26px;
	font-size:11px;
	font-weight:bold;
}
.parent img {
	vertical-align:middle;
	margin-right:9px;
	margin-left:10px;
}
.item {
	line-height:26px;
	font-size:13px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
	word-break: break-all;
	vertical-align: middle;
}
.item a {
    display: table;
}
.item img {
	display: table-cell;
	vertical-align: top;
	padding: 5px 9px 0 10px;
}
.item span {
	display: table-cell;
	vertical-align: top;
}
.modified {
	height:28px;
	line-height:26px;
	font-size:12px;
	vertical-align: middle;
}
.on {
	border-top: 1px solid #f1f1f1;
}
.on:hover {
	background-color:#fafafa;
}
.size {
	text-align:right;
	font-size:12px;
	padding-right:10px;
	vertical-align: middle;
}

.bottom-message {
	padding: 20px;
	color: #545454;
	line-height: 20px;
	margin: 30px 0 0 0;
	border-top: 1px solid #eee;
}

.btn {
	color: #FFF;
	display: table;
	height: 42px;
	min-width: 240px;
	font-size: 13px;
	font-weight: 600;
	line-height: 42px;
	margin: 0 auto;
	padding: 12px 40px;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
}
.btn span {
	padding: 0 20px;
}
.btn.blue {
	background-color: #17bed0;
}
.btn.blue:hover {
	background-color: #18c4d7;
}
.rounded {
	border-radius: 4px;
}

@media (max-width: 840px) {
	.main {
		width: 100%;
		border: 0;
		margin-bottom: 0;
	}
	.cont {
		padding: 20px 0;
	}
	.sub-one {
		width: 68%;
	}
	.sub {
		width: 16%;
	}
	.sub-tree {
		width: 16%;
	}
	.bread {
		font-size: 17px;
		padding-left: 10px;
	}
}

@media (max-width: 440px) {
	.item {
		font-size: 12px;
	}
	.sub-one {
		width: 50%;
	}
	.sub {
		width: 22%;
	}
	.sub-tree {
		width: 17%;
	}
}

/*** Page: 404 File not found | Page: Download traffic exceeded ***/
.pcloud_content {
	text-align: center;
}
.pcloud_content h1 {
	font-size: 36px;
	margin: 20px 0 35px 0;
}
.pcloud_content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}
.pcloud_content .bottom-message .btn {
	margin-top: 20px;
	margin-bottom: 30px;
}
.pcloud_content .bottom-message {
	padding-top: 50px;
}

@media (max-width: 840px) {
	.pcloud_content .cont {
		padding-bottom: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/*** Page Download traffic exceeded ***/
.overtraffic h2 {
	font-size: 18px;
	line-height: 25px;
	margin: 0 0 35px 0;
}
